<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AngularJS</title>
</head>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <p>Select a car:</p>
        <select ng-model="selectedCar">
            <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
        </select>
        <h1>You selected: {{selectedCar}}</h1>
    </div>

    <p>This example shows how to fill a dropdown list using the ng-repeat directive.</p>

    <script src="../../../Scripts/angular.min..js"></script>
    <script src="js/app.js"></script>
</body>
</html>